[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/stm32cube-f1"]
	path = external/stm32cube-f1
	url = https://github.com/STMicroelectronics/STM32CubeF1.git
